a:link{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.header{
  text-align: center;
  display: block;
  color: white;
  padding: 40px;
  background-image: url(records.jpeg);
}

#title {
color: white
}

#Option_bar {
margin: auto;
padding: 20px;
width: fit-content;
}

#Search_bar {
  width: auto;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
  font-size: 20px;
}

#Search_button {
width: auto;
height: 36px;
border: 1px solid #00B4CC;
background: #00B4CC;
text-align: center;
color: #fff;
border-radius: 0 5px 5px 0;
cursor: pointer;
font-size: 20px;
margin-left: -4px;


}

.dropdown {
border: 3px solid #00B4CC;
font-size: 20px;
border-radius: 5px 5px 5px 5px;
height: 36px;

}

.content{
    text-align: center;
    display: block;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    color: black;
}

.content ul {
    list-style: none;
    line-height: 50px;
}

.content li{
    font-size: 16pt;
}

.content h2{
    font-size: 24pt;
    text-transform: capitalize;
}

#artistSongs {
  text-transform: capitalize;
}