<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Page</title>
    <link rel="stylesheet" type="text/css" href="mockup3.css" />
</head>
<body>
    <div class="menu-bar">
        <h1><a id="title" href="#home">Billboard Top 100</a></h1>
        <div class="dropdown">
            <button class="dropbtn">Years</button>
            <div id="DecadeDropdown" class="dropdown-content">
                <ul>
                    <li class="hoverable">1960's ></li>
                        <div id="Year">
                        <ul>
                            <li><a href="1960">1960</a></li>
                            <li><a href="1961">1961</a></li>
                            <li><a href="1962">1962</a></li>
                            <li><a href="1963">1963</a></li>
                            <li><a href="1964">1964</a></li>
                            <li><a href="1965">1965</a></li>
                            <li><a href="1966">1966</a></li>
                            <li><a href="1967">1967</a></li>
                            <li><a href="1968">1968</a></li>
                            <li><a href="1969">1969</a></li>

                        </ul>
                        </div>
                    <li>1970's ></li>
                    <div id="Year">
                        <ul>
                            <li><a href="1970">1970</a></li>
                            <li><a href="1971">1971</a></li>
                            <li><a href="1972">1972</a></li>
                            <li><a href="1973">1973</a></li>
                            <li><a href="1974">1974</a></li>
                            <li><a href="1975">1975</a></li>
                            <li><a href="1976">1976</a></li>
                            <li><a href="1977">1977</a></li>
                            <li><a href="1978">1978</a></li>
                            <li><a href="1979">1979</a></li>

                        </ul>
                        </div>
                    <li>1980's ></li>
                    <div id="Year">
                        <ul>
                            <li><a href="1980">1980</a></li>
                            <li><a href="1981">1981</a></li>
                            <li><a href="1982">1982</a></li>
                            <li><a href="1983">1983</a></li>
                            <li><a href="1984">1984</a></li>
                            <li><a href="1985">1985</a></li>
                            <li><a href="1986">1986</a></li>
                            <li><a href="1987">1987</a></li>
                            <li><a href="1988">1988</a></li>
                            <li><a href="1989">1989</a></li>

                        </ul>
                        </div>
                    <li>1990's ></li>
                    <div id="Year">
                        <ul>
                            <li><a href="1990">1990</a></li>
                            <li><a href="1991">1991</a></li>
                            <li><a href="1992">1992</a></li>
                            <li><a href="1993">1993</a></li>
                            <li><a href="1994">1994</a></li>
                            <li><a href="1995">1995</a></li>
                            <li><a href="1996">1996</a></li>
                            <li><a href="1997">1997</a></li>
                            <li><a href="1998">1998</a></li>
                            <li><a href="1999">1999</a></li>

                        </ul>
                        </div>
                    <li>2000's ></li>
                    <div id="Year">
                        <ul>
                            <li><a href="2000">2000</a></li>
                            <li><a href="2001">2001</a></li>
                            <li><a href="2002">2002</a></li>
                            <li><a href="2003">2003</a></li>
                            <li><a href="2004">2004</a></li>
                            <li><a href="2005">2005</a></li>
                            <li><a href="2006">2006</a></li>
                            <li><a href="2007">2007</a></li>
                            <li><a href="2008">2008</a></li>
                            <li><a href="2009">2009</a></li>

                        </ul>
                        </div>
                    <li>2010's ></li>
                    <div id="Year">
                        <ul>
                            <li><a href="2010">2010</a></li>
                            <li><a href="2011">2011</a></li>
                            <li><a href="2012">2012</a></li>
                            <li><a href="2013">2013</a></li>
                            <li><a href="2014">2014</a></li>
                            <li><a href="2015">2015</a></li>

                        </ul>
                    </div>
                </ul>
            </div>
        </div>
        <input type="text" placeholder="Search..">

        <div class="dropdown">
            <button class="dropbtn">Search for Artists</button>
            <div id="SearchDropDown" class="dropdown-content">
              <a href="#">Artists</a>
              <a href="#">Songs</a>
              <a href="#">Lyrics</a>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="left-content">
            <h2>Popular Songs by Taylor Swift</h2>

            <p><a href="#">Bad Blood</a></p>
            <p><a href="#">Love Story</a></p>
            <p><a href="#">Look What You Made Me Do</a></p>
            <p><a href="#">All Too Well</a></p>
            <p><a href="#">Shake It Off</a></p>
        </div>
        <div class="right-content">
            <h2>Anti-Hero by <a href="#">Taylor Swift</a></h2>
            <h3>Lyrics:</h3>
                <p>I have this thing where I get older but just never wiser
                    Midnights become my afternoons
                    When my depression works the graveyard shift
                    All of the people I've ghosted stand there in the room
                    I should not be left to my own devices
                    They come with prices and vices
                    I end up in crises
                    Tale as old as time
                    I wake up screaming from dreaming
                    One day I'll watch as you're leaving
                    'Cause you got tired of my scheming
                    For the last time
                    It's me
                    Hi!
                    I'm the problem, it's me
                    At teatime
                    Everybody agrees
                    I'll stare directly at the sun but never in the mirror
                    It must be exhausting always rooting for the anti-hero
                    Sometimes I feel like everybody is a sexy baby
                    And I'm a monster on the hill
                    Too big to hang out
                    Slowly lurching toward your favorite city
                    Pierced through the heart but never killed
                    Did you hear my covert narcissism
                    I might disguise as altruism
                    Like some kind of congressman
                    Tale as old as time
                    I wake up screaming from dreaming
                    One day I'll watch as you're leaving
                    And life will lose all its meaning
                    For the last time
                    It's me
                    Hi!
                    I'm the problem, it's me (I'm the problem, it's me)
                    At teatime
                    Everybody agrees
                    I'll stare directly at the sun but never in the mirror
                    It must be exhausting always rooting for the anti-hero
                    I have this dream my daughter-in-law kills me for the money
                    She thinks I left them in the will
                    The family gathers 'round and reads it
                    And then someone screams out
                    "She's laughing up at us from hell!"
                    It's me
                    Hi!
                    I'm the problem, it's me
                    It's me
                    Hi!
                    I'm the problem, it's me
                    It's me
                    Hi!
                    Everybody agrees
                    Everybody agrees
                    It's me
                    Hi! (Hi!)
                    I'm the problem, it's me (I'm the problem, it's me)
                    At teatime
                    Everybody agrees (everybody agrees)
                    I'll stare directly at the sun but never in the mirror
                    It must be exhausting always rooting for the anti-hero</p>
        </div>
    </div>


</body>
</html>