<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="../static/mockup1.css" />
    <script type="text/javascript" src="../static/billboard.js" ></script>
</head>
<body>
    <div class="menu-bar">
        <h1><a id="title" href="#home">Billboard Top 100</a></h1>
        <div class="dropdown">
            <button class="dropbtn">Years<select id="year_selector"></select></button>
            <!-- <div id="DecadeDropdown" class="dropdown-content"> -->
                <!-- <ul> -->
                  <!-- <div id="Decade" class="hoverable"> -->
                    <!-- <li class="hoverable">1960's ></li>
                        <div id="Year">
                        <ul>
                            <li><a href="1960">1960</a></li>
                            <li><a href="1961">1961</a></li>
                            <li><a href="1962">1962</a></li>
                            <li><a href="1963">1963</a></li>
                            <li><a href="1964">1964</a></li>
                            <li><a href="1965">1965</a></li>
                            <li><a href="1966">1966</a></li>
                            <li><a href="1967">1967</a></li>
                            <li><a href="1968">1968</a></li>
                            <li><a href="1969">1969</a></li>

                        </ul>
                        </div> -->
                    <!-- <li>1970's ></li>
                    <div id="Year">
                        <ul>
                            <li><a href="1970">1970</a></li>
                            <li><a href="1971">1971</a></li>
                            <li><a href="1972">1972</a></li>
                            <li><a href="1973">1973</a></li>
                            <li><a href="1974">1974</a></li>
                            <li><a href="1975">1975</a></li>
                            <li><a href="1976">1976</a></li>
                            <li><a href="1977">1977</a></li>
                            <li><a href="1978">1978</a></li>
                            <li><a href="1979">1979</a></li>

                        </ul>
                        </div> -->
                    <!-- <li>1980's ></li>
                    <div id="Year">
                        <ul>
                            <li><a href="1980">1980</a></li>
                            <li><a href="1981">1981</a></li>
                            <li><a href="1982">1982</a></li>
                            <li><a href="1983">1983</a></li>
                            <li><a href="1984">1984</a></li>
                            <li><a href="1985">1985</a></li>
                            <li><a href="1986">1986</a></li>
                            <li><a href="1987">1987</a></li>
                            <li><a href="1988">1988</a></li>
                            <li><a href="1989">1989</a></li>

                        </ul>
                        </div>
                    <li>1990's ></li> -->
                    <!-- <div id="Year">
                        <ul>
                            <li><a href="1990">1990</a></li>
                            <li><a href="1991">1991</a></li>
                            <li><a href="1992">1992</a></li>
                            <li><a href="1993">1993</a></li>
                            <li><a href="1994">1994</a></li>
                            <li><a href="1995">1995</a></li>
                            <li><a href="1996">1996</a></li>
                            <li><a href="1997">1997</a></li>
                            <li><a href="1998">1998</a></li>
                            <li><a href="1999">1999</a></li>

                        </ul>
                        </div> -->
                    <!-- <li>2000's ></li> -->
                    <!-- <div id="Year">
                        <ul>
                            <li><a href="2000">2000</a></li>
                            <li><a href="2001">2001</a></li>
                            <li><a href="2002">2002</a></li>
                            <li><a href="2003">2003</a></li>
                            <li><a href="2004">2004</a></li>
                            <li><a href="2005">2005</a></li>
                            <li><a href="2006">2006</a></li>
                            <li><a href="2007">2007</a></li>
                            <li><a href="2008">2008</a></li>
                            <li><a href="2009">2009</a></li>

                        </ul>
                        </div> -->
                    <!-- <li>2010's ></li>
                    <div id="Year">
                        <ul>
                            <li><a href="2010">2010</a></li>
                            <li><a href="2011">2011</a></li>
                            <li><a href="2012">2012</a></li>
                            <li><a href="2013">2013</a></li>
                            <li><a href="2014">2014</a></li>
                            <li><a href="2015">2015</a></li>

                        </ul>
                    </div> -->
                <!-- </ul> -->
            <!-- </div> -->
        </div>
        <input type="text" placeholder="Search..">

        <div class="dropdown">
            <button class="dropbtn">Search for Artists</button>
            <div id="SearchDropDown" class="dropdown-content">
              <a href="#">Artists</a>
              <a href="#">Songs</a>
              <a href="#">Lyrics</a>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="left-content">
            <h2>Top 5 Artists of the year</h2>

            <p><a href="#TaylorSwift">Taylor Swift</a></p>
            <p><a href="#Migos">Migos</a></p>
            <p><a href="#DavidBowie">David Bowie</a></p>
            <p><a href="#FountainsofWayne">Fountains of Wayne</a></p>
            <p><a href="#DOMIandJDBeck">DOMI and JD Beck</a></p>
        </div>
        <div class="right-content">
            <h2>Billboard's top 100 songs of the year</h2>
            <ol id="yearSongs">
                <li>first thing</li>
            </ol>
        </div>
    </div>


</body>
</html>