<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_page.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='billboard.js') }}" ></script>
</head>
<body>
    <div class="header">
        <h1><a id="title" href="/">Billboard Top 100</a></h1>

        <div id="Option_bar">
            <select id="year_selector" class ="dropdown">select</select>

            <input id='Search_bar' type="text" placeholder="Search..">
            <button type="submit" id='Search_button'>Submit</button>

            <select id="Search_param" class ="dropdown">
                <option value="artists">Artists</option>
                <option value="songs">Songs</option>
                <option value="lyrics">Lyrics</option>
            </select>
        </div>
    </div>

    <div class="content">
        <div class="left-content">
            <h2>Featured Artists</h2>

            <p><a href="artist/taylor swift">Taylor Swift</a></p>
            <p><a href="/artist/pitbull">Pitbull</a></p>
            <p><a href="/artist/nicki minaj">Nicki Minaj</a></p>
            <p><a href="/artist/backstreet boys">Backstreet Boys</a></p>
            <p><a href="/artist/the turtles">The Turtles</a></p>
        </div>
        <div class="right-content">
            <h2>Billboard's Top 100 Songs of 2015</h2>
            <ol id="yearSongs"></ol>
        </div>
    </div>
</body>
</html>