<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="../static/search_page.css" />
    <script type="text/javascript" src="../static/billboard.js" ></script>
</head>
<body>
    <div class="menu-bar">
        <h1><a id="title" href="#home">Billboard Top 100</a></h1>
        <div class="dropdown">
            <button class="dropbtn">Years<select id="year_selector"></select></button>

        </div>

        <input id='Search_bar' type="text" placeholder="Search..">
        <button type="submit" id='Search_button'>Submit</button>   

        <div class="dropdown">
            <select id="Search_param">
              <option value="artists">Artists</option>
              <option value="songs">Songs</option>
              <option value="lyrics">Lyrics</option>
            </select>
        </div>
    </div>
    <div class="content">

        <div class="left-content">
        </div>
        <div class="right-content">
            <h2>Search Results</h2>
            <ol>
                <li><a href="#">Anti Hero</a> by <a href="#">Taylor Swift</a></li>
                <li><a href="#">Mexican Wine</a> by <a href="#">Fountains of Wayne</a></li>
                <li><a href="#">Money for Nothin'</a> by <a href="#">Dire Straits</a></li>
                <li><a href="#">Corpus Callosum</a> by <a href="#">Polyrythmics</a></li>
                <li><a href="#">Moondance</a> by <a href="#">Van Morrison</a></li>
                <li><a href="#">Donna Lee</a> by <a href="#">Jaco Pastorius</a></li>
                <li><a href="#">Mary Jane's Last Dance</a> by <a href="#">Tom Petty and the Heartbreakers</a></li>
                <li><a href="#">(Don't Fear) The Reaper</a> by <a href="#">Blue Oyster Cult</a></li>
                <li><a href="#">Last Friday Night (T.G.I.F)</a> by <a href="#">Katy Perry</a></li>
                <li><a href="#">Istanbul (Not Constantinople)</a> by <a href="#">They Might be Giants</a></li>
            </ol>
        </div>
    </div>


</body>
</html>