<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search_page.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='billboard.js') }}" ></script>
</head>
<body>
    <div class="menu-bar">
        <h1><a id="title" href="/">Billboard Top 100</a></h1>
        <div class="dropdown">
            <button class="dropbtn">Years<select id="year_selector"></select></button>

        </div>

        <input id='Search_bar' type="text" placeholder="Search..">
        <button type="submit" id='Search_button'>Submit</button>

        <div class="dropdown">
            <select id="Search_param">
              <option value="artists">Artists</option>
              <option value="songs">Songs</option>
              <option value="lyrics">Lyrics</option>
            </select>
        </div>
    </div>
    <div class="content">

        <div class="left-content">
        </div>
        <div class="right-content">
            <h2>{{option}} results for {{search_text}}</h2>
            <ol id="Results">

            </ol>
        </div>
    </div>
    <div class="hidden_variables_for_reference">
        <ul>
            <li id="Option">{{option}}</li>
            <li id="Search_text">{{search_text}}</li>
        </ul>
    </div>

</body>
</html>