<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='song_page.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='billboard.js') }}" ></script>
</head>
<body>
    <div class="menu-bar">
        <h1><a id="title" href="/">Billboard Top 100</a></h1>
        <div class="dropdown">
            <button class="dropbtn">Years<select id="year_selector"></select></button>
        </div>

        <input id='Search_bar' type="text" placeholder="Search..">
        <button type="submit" id='Search_button'>Submit</button>

        <div class="dropdown">
            <select id="Search_param">
                <option value="artists">Artists</option>
                <option value="songs">Songs</option>
                <option value="lyrics">Lyrics</option>
            </select>
        </div>
    </div>

    <div class="content">

        <div class="left-content">
          <h2>Popular Songs by Taylor Swift</h2>

          <p><a href="#">Bad Blood</a></p>
          <p><a href="#">Love Story</a></p>
          <p><a href="#">Look What You Made Me Do</a></p>
          <p><a href="#">All Too Well</a></p>
          <p><a href="#">Shake It Off</a></p>
        </div>
        <div class="right-content">
            <h2><a id = "{{songParam}}">{{songParam}} </a> by <a id = "{{artistParam}}"> {{artistParam}}</a>:</h2>
            <h3>Lyrics:</h3>
                <p id = "songLyrics"></p>
        </div>
        </div>
    </div>
</body>
</html>