<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <title>{{songParam}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='song_page.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='billboard.js') }}" ></script>
</head>
<body>
    <div class="header">

        <h1><a id="title" href="/">Billboard Top 100</a></h1>

        <div id="Option_bar">
            <select id="year_selector" class ="dropdown">select</select>

            <input id='Search_bar' type="text" placeholder="Search..">
            <button type="submit" id='Search_button'>Submit</button>

            <select id="Search_param" class ="dropdown">
                <option value="artists">Artists</option>
                <option value="songs">Songs</option>
                <option value="lyrics">Lyrics</option>
            </select>
        </div>
    </div>
    <div class="content">

        <div class="left-content">
          <!-- <h2>Popular Songs by {{artistParam}}: </h2>

          <p id = "artistSongs"></p> -->
        </div>
        <div class="right-content">
            <h2 id = "songArtist"></h2>
            <h3>Lyrics:</h3>
                <p id = "songLyrics"></p>
        </div>
        </div>
    </div>
</body>
</html>