<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Year Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mockup5.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='billboard.js') }}" ></script>
</head>
<body>
    <div class="menu-bar">
        <h1><a id="title" href="#home">Billboard Top 100</a></h1>
        <div class="dropdown">
            <button class="dropbtn">Years<select id="year_selector"></select></button>
        </div>
        <input type="text" placeholder="Search..">

        <div class="dropdown">
            <button class="dropbtn">Search for Artists</button>
            <div id="SearchDropDown" class="dropdown-content">
              <a href="#">Artists</a>
              <a href="#">Songs</a>
              <a href="#">Lyrics</a>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="left-content">
        </div>
        <div class="right-content">
            <h2>Top songs of {{year}}</h2>
            <ol id="yearSongs">

            </ol>
        </div>
    </div>

    <div class="hidden_variables_for_reference">
        <p id="Year_to_get" >{{year}}</p>
    </div>


</body>
</html>