<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Year Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search_page.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='billboard.js') }}" ></script>
</head>
<body>
    <div class="menu-bar">
        <h1><a id="title" href="/">Billboard Top 100</a></h1>
        <div class="dropdown">
            <button class="dropbtn">Years<select id="year_selector"></select></button>
        </div>
        <form>
            <input id='Search_bar' type="text" placeholder="Search..">
            <button type="submit">Submit</button>
        </form>

        <div class="dropdown">
            <select id="Search_param">
              <option value="1">Artists</option>
              <option value="2">Songs</option>
              <option value="3">Lyrics</option>
            </select>
        </div>
    </div>

    <div class="content">

        <div class="left-content">
        </div>
        <div class="right-content">
            <h2 id = "selectYear">Top songs of {{yearParam}}:</h2>
            <ol id = "yearSongs"></ol>
        </div>
    </div>


</body>
</html>