.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus{
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
  }
  
  .dropdown:hover .dropdown-content{
    display: block;
    position: absolute;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: left;
  }
  
  .year{
    display: none;
  }

  .year ul{
    line-height: normal;
  }

  .decade:hover .year{
    display: inline-flex;
    position: absolute;
    margin-top: -30px;
    margin-left: 140;
    background-color: #f1f1f1;
  }

  .decade{
    float: left;
    margin-left: -35px;
  }

  .dropdown-content ul{
    list-style: none;
  }
  #DecadeDropdown{
    float:left;
    margin: 0pt;
    padding: 0pt;
    list-style: none;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}




a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body{
    background-image: url(tswift.jpg);
}

.menu-bar{
    text-align: center;
    display: block;
    color: white;
    margin-top: 0%;
    padding-top: 0%;
}

.content{
    display: flex;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    color: white;

}

.left-content{
    width: 40%;
    border-right: 1px solid white;
    height: 300px;
    margin: 5px;
    
}

.right-content{
    width: 60%;
    margin: 5px;
    line-height: 50px;
}

.right-content h2{
    font-size: 140%;

}
